.privacy-policy {
    padding: 80px 0;
    color: $lightest-gray;

    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        text-align: center;
        margin-bottom: 3rem;
        // Uses global typography styles, but ensuring color
        color: $white-color;
        
        span {
            color: $green-color;
        }
    }

    section {
        margin-bottom: 3rem;

        h3 {
            color: $green-color;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            font-weight: 600;
        }

        p {
            margin-bottom: 1.2rem;
            line-height: 1.8;
            font-size: 1rem;
            color: rgba($lightest-gray, 0.9);
            text-align: justify;

            strong {
                color: $white-color;
                font-weight: 700;
            }
        }

        ul, ol {
            padding-left: 20px;
            margin-bottom: 1.5rem;

            li {
                margin-bottom: 0.8rem;
                line-height: 1.6;
                list-style-type: disc;
                color: rgba($lightest-gray, 0.9);

                &::marker {
                    color: $green-color;
                }
            }
        }
        
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }
}
