// FONTS
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Nexa-Heavy.ttf) format('woff2');
}

// Mixins (Added effectively to support the requested code)
@mixin breakpoint($point) {
	@if $point ==phone {
		@media (max-width: 600px) {
			@content;
		}
	}

	@else if $point ==tablet {
		@media (min-width: 768px) {
			@content;
		}
	}

	@else if $point ==desktop {
		@media (min-width: 1024px) {
			@content;
		}
	}
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Nexa', sans-serif;
$link-primary: $green-color;

@mixin font-size($size) {
	font-size: $size;
}

@mixin font-weight($weight) {
	font-weight: $weight;
}

// Headings
@mixin heading($size, $weight: 600) {
	line-height: 120%;
	font-family: $font-secondary;
	@include font-size($size);
	@include font-weight($weight);
}

h1,
.heading-h1 {
	@include heading(56px);

	@include breakpoint(phone) {
		@include heading(40px);
	}
}

h2,
.heading-h2 {
	@include heading(48px);

	@include breakpoint(phone) {
		@include heading(36px);
	}
}

h3,
.heading-h3 {
	@include heading(40px);

	@include breakpoint(phone) {
		@include heading(32px);
	}
}

h4,
.heading-h4 {
	@include heading(32px);

	@include breakpoint(phone) {
		@include heading(24px);
	}
}

h5,
.heading-h5 {
	@include heading(24px);

	@include breakpoint(phone) {
		@include heading(20px);
	}
}

h6,
.heading-h6 {
	@include heading(20px);

	@include breakpoint(phone) {
		@include heading(18px);
	}
}

.heading-tagline {
	@include heading(16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0 1rem;
}

// Text styles
@mixin text-style($size, $weight) {
	line-height: 150%;
	font-family: $font-primary;
	@include font-size($size);
	@include font-weight($weight);
}

.text-large-light {
	@include text-style(20px, 300);
}

.text-large-normal {
	@include text-style(20px, 400);
}

.text-large-medium {
	@include text-style(20px, 500);
}

.text-large-semi-bold {
	@include text-style(20px, 600);
}

.text-large-bold {
	@include text-style(20px, 700);
}

.text-large-extra-bold {
	@include text-style(20px, 800);
}

.text-large-link {
	@include text-style(20px, 400);
	text-decoration: underline;
}

.text-medium-light {
	@include text-style(18px, 300);
}

.text-medium-normal {
	@include text-style(18px, 400);
}

.text-medium-medium {
	@include text-style(18px, 500);
}

.text-medium-semi-bold {
	@include text-style(18px, 600);
}

.text-medium-bold {
	@include text-style(18px, 700);
}

.text-medium-extra-bold {
	@include text-style(18px, 800);
}

.text-medium-link {
	@include text-style(18px, 400);
	text-decoration: underline;
}

.text-regular-light {
	@include text-style(16px, 300);
}

.text-regular-normal {
	@include text-style(16px, 400);
}

.text-regular-medium {
	@include text-style(16px, 500);
}

.text-regular-semi-bold {
	@include text-style(16px, 600);
}

.text-regular-bold {
	@include text-style(16px, 700);
}

.text-regular-extra-bold {
	@include text-style(16px, 800);
}

.text-regular-link {
	@include text-style(16px, 400);
	text-decoration: underline;
}

.text-small-light {
	@include text-style(14px, 300);
}

.text-small-normal {
	@include text-style(14px, 400);
}

.text-small-medium {
	@include text-style(14px, 500);
}

.text-small-semi-bold {
	@include text-style(14px, 600);
}

.text-small-bold {
	@include text-style(14px, 700);
}

.text-small-extra-bold {
	@include text-style(14px, 800);
}

.text-small-link {
	@include text-style(14px, 400);
	text-decoration: underline;
}

.text-tiny-light {
	@include text-style(12px, 300);
}

.text-tiny-normal {
	@include text-style(12px, 400);
}

.text-tiny-medium {
	@include text-style(12px, 500);
}

.text-tiny-semi-bold {
	@include text-style(12px, 600);
}

.text-tiny-bold {
	@include text-style(12px, 700);
}

.text-tiny-extra-bold {
	@include text-style(12px, 800);
}

.text-tiny-link {
	@include text-style(12px, 400);
	text-decoration: underline;
}

p {
	line-height: 150%;
}

body {
	font-family: $font-primary;
}

a {
	color: $link-primary;

	&.unstyled {
		text-decoration: none;
	}
}